@mixin media-breakpoint-up($target_breakpoint) {
	@media (min-width: map-get($map: $breakpoints, $key: $target_breakpoint)) {
		@content;
	}
}

@mixin flex($direction: column, $align: center, $justify: center) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}
