@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');
@import "variables";
@import "mixins";
@import "typography";
@import "background";

body {
    background: #1b1b1b;
    color: white;
}

a {
    color: white !important;
  
    &:hover {
      color: $primary !important;
      text-decoration: none !important;
    }
  }
  